@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* Konfigurasi CSS-first Tailwind v4 */
@theme {
  /* Brand Identity */
  --color-primary: #e5f0b6;
  --color-secondary: #2f241f;

  /* Backgrounds */
  --color-background: #fcfafa;
  --color-soft-brown: #553b33;

  /* Texts / Foregrounds */
  --color-foreground: #1c1c1c;
  --color-muted: #4b5563;

  /* Additional */
  --color-border: #e5e7eb;
  --color-accent: #cbea7b;

  /* Font */
  --font-inter: "Inter", sans-serif;
  --text-md: 16px;

  /* Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1281px;
  --breakpoint-2xl: 1536px;
}

@layer components {
  .btn-primary {
    @apply bg-[var(--color-primary)] text-[var(--color-secondary)] rounded-lg hover:bg-primary/80 transition;
  }

  .px-section {
    @apply px-8 md:px-[96] xl:px-[142px];
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter);
  overflow-x: hidden;
}

button {
  cursor: pointer;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.swiper-wrapper {
  align-items: flex-start;
}

.swiper-slide {
  width: auto !important;
  transition: all 0.3s ease;
}
